.Button {
  display: inline-block;
  color: #ffffff;
  background-color: rgb(53, 66, 140);
  border-radius: 4px;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: "Architects Daughter", cursive;
}

.Button:hover {
  background: #0a116c;
}

.Button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}

.Button:hover span {
  padding-right: 25px;
}

.Button:hover span:after {
  opacity: 1;
  right: 0;
}
