.Card {
  width: 15%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  margin-top: 20px;
  border-radius: 10px;
}

.CardHeader {
  text-align: center;
  padding: 50px 10px;
  background: white;
  color: #fff;
  border-radius: 10px;
}
/* linear-gradient(to right, #ff416c, #ff4b2b); */
.CardBody {
  padding: 30px 20px;
  text-align: center;
  font-size: 25px;
  font-family: "Architects Daughter", cursive;

  border-radius: 10px;
}

.Button {
  display: block;
  color: #fff;
  text-align: center;
  background: #6d76f7;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.Card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.Image {
  height: 10rem;
  width: 8rem;
}

@media screen and (max-width: 1000px) {
  .Card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .Card {
    width: 80%;
  }
}
